#dow {
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 200px;
    margin-top: 20px;
}
.nav-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-right: 15px;}
    